Repository Ismanloff/parroquia-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=100, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=100", "prettier --write"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

🐛 FIX: Chat CSRF error + Help Center navigation
  components/landing/Footer.tsx
  components/landing/Header.tsx
  middleware.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: Corregir obtención de IP para Edge runtime
  backend/app/api/chat/detect/route.ts
  backend/app/api/chat/quick-stream/route.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: Corregir tipo de pineconeTool.execute con type assertion
  backend/app/api/chat/tools/pineconeTool.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: Hacer Supabase client resiliente durante build
  backend/app/lib/supabase.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: Hacer todos los clientes resilientes durante build
  backend/app/api/chat/detect/route.ts
  backend/app/api/chat/message-stream/route.ts
  backend/app/lib/resend.ts
Due: eslint --fix --max-warnings=100, prettier --write

Update dependencies for React Flight RCE advisory
  backend/package-lock.json
  backend/package.json
Due: prettier --write

🔧 Fix: APIs now return fallback data when Supabase tables don't exist
  app/api/gospel/today/route.ts
  app/api/saints/today/route.ts
Due: eslint --fix --max-warnings=100, prettier --write

🔧 Fix vercel.json schema
  vercel.json
Due: prettier --write

docs: update README with new Supabase project credentials and setup instructions
  README.md
Due: prettier --write

feat: update PWA icons with new logo
  public/apple-touch-icon.png
  public/icons/icon-128x128.png
  public/icons/icon-144x144.png
  public/icons/icon-152x152.png
  public/icons/icon-192x192.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
Due: none

fix: update liturgical purple color and firebase sw config
  lib/liturgicalColors.ts
  public/firebase-messaging-sw.js
Due: eslint --fix --max-warnings=100, prettier --write

feat: add admin notification panel, fix settings token sync & middleware
  app/admin/notifications/page.tsx
  app/api/notifications/send/route.ts
  app/not-found.tsx
  components/Settings.tsx
  lib/database.types.ts
  middleware.ts
  supabase/.temp/cli-latest
Due: eslint --fix --max-warnings=100, prettier --write

chore: add debug alert for notification error
  components/Settings.tsx
Due: eslint --fix --max-warnings=100, prettier --write

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

feat: Implement Saint detail modal with comprehensive data, update daily gospel logic, and fix PWA manifest
  app/api/calendar/events/route.ts
  app/api/debug/logger/route.ts
  app/api/gospel/today/route.ts
  app/api/saints/today/route.ts
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/Calendar.tsx
  components/Home.tsx
  components/Settings.tsx
  components/TabNavigation.tsx
  components/ui/Card.tsx
  components/ui/Modal.tsx
  eslint.config.mjs
  public/manifest.json
  tailwind.config.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: Redesign Home with premium card style, add full-screen detail pages for Gospel and Saint
  app/evangelio/page.tsx
  app/santo/page.tsx
  components/Home.tsx
  components/ui/Modal.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: Robust PWA update detection system
  app/globals.css
  components/UpdateBanner.tsx
  lib/hooks/useServiceWorker.ts
Due: eslint --fix --max-warnings=100, prettier --write

refactor: Major UI redesign v2.0.0
  ANALISIS_MIGRACION_FALTANTE.md
  COMPARATIVA_REACT_NATIVE_VS_PWA.md
  Cache/faq_parroquial.json
  HUSKY_SETUP.md
  app/evangelio/page.tsx
  app/santo/page.tsx
  archive/IMPLEMENTACION_COMPLETADA.md
  archive/PENDIENTE_CALENDARIO.md
  archive/PLAN_MEJORAS_2025.md
  calendar_debug.ics
  components/Home.tsx
  components/Resources.tsx
  components/Settings.tsx
  docs/ASSETS.md
  docs/COMO-AGREGAR-APP-IOS-FIREBASE.md
  docs/DEBUG-NOTIFICACIONES-RESUMEN.md
  docs/FIREBASE-APNS-IOS-SETUP.md
  docs/FIREBASE-IOS-APP-SETUP-VISUAL.md
  docs/FIREBASE-SETUP.md
  docs/FIX-IOS-NOTIFICATIONS.md
  docs/FIX-REGISTRO-EMAIL.md
  docs/IOS-DEBUG.md
  docs/PWA-2025-CHANGELOG.md
  docs/QUE-HACER-AHORA.md
  docs/REGENERAR-TOKEN-IPHONE.md
  docs/SERVICE-WORKER.md
  docs/VERIFICAR-APNS-FIREBASE.md
  informacion/PWA informacion.md
Due: eslint --fix --max-warnings=100, prettier --write

feat: Add manual update check in Settings
  components/Settings.tsx
Due: eslint --fix --max-warnings=100, prettier --write

feat: UX improvements for Home screen
  components/Home.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: Improve Calendar event detail bottom sheet
  components/Calendar.tsx
Due: eslint --fix --max-warnings=100, prettier --write

perf: Implement SWR caching for instant data loading
  app/api/calendar/events/route.ts
  app/api/gospel/today/route.ts
  app/api/saints/today/route.ts
  app/evangelio/page.tsx
  components/Calendar.tsx
  components/Home.tsx
  hooks/useCachedFetch.ts
  lib/cache.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: Hide past days from weekly calendar agenda view
  components/Calendar.tsx
Due: eslint --fix --max-warnings=100, prettier --write

feat: Professional calendar redesign with 3 view modes
  components/Calendar.tsx
Due: eslint --fix --max-warnings=100, prettier --write

refactor: Premium calendar redesign - iOS style
  components/Calendar.tsx
Due: eslint --fix --max-warnings=100, prettier --write

feat: Premium iOS-style Calendar redesign
  app/globals.css
  components/Calendar.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: AgendaPanel now uses position fixed for reliable display
  app/globals.css
  components/Calendar.tsx
Due: eslint --fix --max-warnings=100, prettier --write

style: Improve calendar typography and readability
  app/globals.css
  components/Calendar.tsx
Due: eslint --fix --max-warnings=100, prettier --write

style: iOS premium color system with WCAG contrast
  app/globals.css
Due: prettier --write

fix: AgendaPanel positioning and chip truncation
  app/globals.css
  components/Calendar.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: Calendar UI improvements
  app/globals.css
  components/Calendar.tsx
  components/TabNavigation.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: Replace placeholder shortcut icons with proper designs
  public/icons/shortcut-calendar.png
  public/icons/shortcut-calendar.svg
  public/icons/shortcut-chat.png
  public/icons/shortcut-chat.svg
  public/icons/shortcut-home.png
  public/icons/shortcut-home.svg
  public/icons/shortcut-settings.png
  public/icons/shortcut-settings.svg
Due: none

fix: AgendaPanel not showing on mobile - use Portal
  app/globals.css
  components/Calendar.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: AgendaPanel z-index - must be below tab bar
  app/globals.css
Due: prettier --write

fix: Simplify AgendaPanel - remove Portal, remove overflow-hidden
  components/Calendar.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: Critical bug - panel height was 0.5px instead of 50%
  app/globals.css
  components/Calendar.tsx
  components/TabNavigation.tsx
Due: eslint --fix --max-warnings=100, prettier --write

feat: Compact agenda panel - show 1 event, expand manually
  app/globals.css
  components/Calendar.tsx
Due: eslint --fix --max-warnings=100, prettier --write

refactor: Unify Service Workers and improve admin security
  README.md
  app/admin/notifications/page.tsx
  app/api/notifications/send/route.ts
  app/api/notifications/test/route.ts
  app/api/notifications/tokens/route.ts
  app/diagnostico/notificaciones/page.tsx
  app/offline/page.tsx
  app/sw.ts
  docs/FIREBASE-APNS-IOS-SETUP.md
  lib/adminAuth.ts
  lib/firebase/messaging.ts
  lib/hooks/useInstallPrompt.ts
  lib/hooks/useServiceWorker.ts
  middleware.ts
  public/firebase-messaging-sw.js
Due: eslint --fix --max-warnings=100, prettier --write
